body {
    background-color: #edebdd;
    color:#1b1717;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    padding: 1.5rem;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    color: #810100;
    margin-bottom: 1rem;
}

/*--header--*/

.header {
    display: flex;
    font-weight:bold;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.2vw solid #810100;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: #630000;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.nav a {
    text-decoration: none;
    color: #630000;
    font-weight: 500;
    position: relative;
    transition: color 0.3s;
}

.nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    background-color: #edebdd;
    transition: width 0.3s ease-in-out;
}

.nav a:hover {
    color: #edebdd;
}

/*--hero--*/

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(30px);}
    to {opacity: 1; transform: translateY(0);}
}

.hero {
    text-align: center;
    padding: 5rem;
    max-width: 900px;
    margin: 0 auto;
    animation: fadeIn 1.5s ease-in-out;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto 2rem;
}

.boton {
    background-color: #810100;
    color: #edebdd;
    padding: 0.8rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 2.5vw;
    transition: background-color 0.3s;
}

.boton:hover {
    background-color: #1b1717;
}

/*--secciones--*/

section {
    margin: 4rem auto;
    max-width: 900px;
    padding: 0 1rem;
}

.listas-servicios li {
    margin-bottom: 1rem;
    padding-left: 1rem;
}

/*--proyectos--*/

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.proyecto {
    flex: 1 1 250px;
    text-align: center;
    background-color: #810100;
    padding: 1rem;
    border-radius: 4vw;
}

h3, p {
    color: #edebdd;
}

/*--planes--*/

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.5rem;
    border: 0.2vw solid #810100;
}

th, td {
    padding: 1rem;
    text-align: center;
    border: 0.2vw solid #810100;
}

th {
    background-color: #810100;
    color: #edebdd;
}

/*--testimonios--*/

blockquote {
    background-color: #810100;
    border-left: 1vw solid #1b1717;
    padding: 1.5rem;
    margin-bottom: 2rem;
    font-style: italic; color: #edebdd;
}

blockquote span {
    display: flex;
    margin-top: 0.5rem;
    font-weight: bold;
}

.contacto {
    max-width: 700px;
    margin: 4rem auto;
}

/*--formulario*/

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea {
    border: 1px solid #810100;
    padding: 0.8rem;
    color: #810100;
    border-radius: 2.5vw;
    font-size: 1rem;
    transition: border-color 0.3s;
}

input:focus, textarea:focus {
    border-color: #810100;
    outline: none;
    box-shadow: 0 0 2.5px#810100;
}

button {
    background-color: #810100;
    color: #edebdd;
    padding: 0.8rem;
    font-weight: bold;
    border-radius: 2.5vw;
    cursor: pointer;
}

button:hover {
    background-color: #1b1717;
}

/*--footer--*/

.footer {
    text-align: center;
    font-size: 0.9rem;
    color: #810100;
    padding: 2rem;
    margin-top: 4rem;
    border-top: 1px solid #810100;
}

.footer p {
    font-style: italic; color: #810100;
}