body {
    background-color: #f0e7d6;
    color:black;
    font-family: 'Playfair Display', serif;
    padding: 1.5rem;
}

h1 {
    font-family: 'Playfair Display', serif;
    color: #ae2e00;
}

.header {
    display: flex;
    font-weight:bold;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.2vw solid #9dbdb8;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: #ae2e00;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.header, .footer {
    text-align: center;
    padding: 1rem;
}